// 项目UI全局变量
$mainColor:#DC2C2C;
$titleColor: #1C2433;
$borderColor: #E3E6F1;
$shallowHoverColor: #F5F7FA;
$deepHoverColor: #E2E5E9;
$contentColor: #373E4F;
$buttonShadow: 0px 4px 16px 0px rgba(14, 37, 71, 0.5);
$buttonColor: #0E2547;
$boxShadow: 0px 2px 8px 0px rgba(218, 225, 237, 0.8);